@import "@/index.scss";

.wallets {

    &__wrapper {
        width: 416px;
        padding: 24px 0;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
            @include text-inter-600-22-27;

            color: var(--main-label-color);
        }

        &__close {
            cursor: pointer;

            svg {
                width: 100%;

                rect {
                    fill: var(--main-label-color);
                }
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 48px;

        &__item {
            display: flex;
            align-items: center;
            padding: 17px 29px;
            background: none;
            border: 1px solid #c0c0c0;
            border-radius: 4px;
            cursor: pointer;

            &__logo {
                width: 41px;
                height: 41px;
            }

            &__name {
                margin-left: 35px;

                @include text-jetbrain-700-14-18;

                color: var(--main-label-color);
            }

            &:disabled {
                cursor: not-allowed;
                background: #c0c0c0;
                opacity: 0.7;
            }
        }
    }
}
