@import "@/index.scss";

.swap {
    display: flex;
    flex-direction: column;
    width: 638px;
    padding: 36px 48px;
    margin: 60px auto;
    background: var(--main-swap-modal-linear-gradient);
    backdrop-filter: blur(21px);
    border-radius: 14px;
    border: 1px solid $modalMainBorderColor;

    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &__title {
            @include text-inter-700-12-15;

            color: var(--main-label-color);
            cursor: not-allowed;
        }

        &__btn {
            width: 45px;
            height: 32px;
            margin-left: 14px;
            border-radius: 4px;
            background: #232323;
            border: none;
            cursor: not-allowed;
        }
    }

    &__tokens {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 36px;

        &__item {
            display: flex;
            flex-direction: column;

            &__logo {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 216px;
                height: 119px;
                border-radius: 6px;
                border: 1px solid $modalMainBorderColor;
                background: var(--main-modal-background-color);

                &__image-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 86px;
                    height: 86px;
                    border-radius: 50%;
                    border: 1px solid $modalMainBorderColor;
                    background: white;
                }
            }

            &__select {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 216px;
                height: 37px;
                padding: 11px;
                margin-top: 6px;
                border-radius: 4px;
                background: var(--main-modal-background-color);
                border: 1px solid $modalMainBorderColor;
                cursor: pointer;

                &__triangle {
                    position: absolute;
                    top: 15.5px;
                    right: 11px;
                    width: 0;
                    height: 0;
                    border: 4px solid transparent;
                    border-bottom: 0;
                    border-top: 5px solid var(--main-label-color);
                }
            }

            &__selected {
                @include text-jetbrain-700-12-16;

                color: var(--main-label-color);
            }

            &__list {
                position: absolute;
                top: 35px;
                left: 0;
                padding: 11px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                border-radius: 4px;
                border: 1px solid $modalMainBorderColor;
                background: var(--main-background-color);

                &__network {
                    @include text-jetbrain-700-12-16;

                    color: var(--main-label-color);
                }
            }
        }

        &__swap-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            border-radius: 4px;
            background: var(--main-modal-background-color);
            border: 1px solid $modalMainBorderColor;
            cursor: pointer;
        }
    }

    &__tabs {
        display: flex;
        width: 100%;
        height: 49px;
        margin-top: 36px;
        border: 1px solid $modalMainBorderColor;
        border-radius: 4px;

        .token-active,
        .nft-active {
            border-radius: 4px;
            background-color: #000;
            color: #eee;
        }

        /* TODO: We don`t have NTF logic now. */

        .nft-inactive {
            cursor: not-allowed;
        }

        .token-inactive,
        .nft-inactive {
            background-color: #eee;
            color: #000;
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;

            @include text-inter-700-12-15;

            cursor: pointer;
        }
    }

    &__token-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: 53px;
        padding: 17px 29px;
        margin-top: 36px;
        border-radius: 4px;
        background: var(--main-modal-background-color);
        border: 1px solid $modalMainBorderColor;
        cursor: pointer;

        &__triangle {
            position: absolute;
            top: 25px;
            right: 11px;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-bottom: 0;
            border-top: 6px solid var(--main-label-color);
        }

        &__circle {
            width: 19px;
            height: 19px;
            border-radius: 50%;
            background: var(--main-background-color);
            border: 1px solid $modalMainBorderColor;
        }

        &__selected-item {
            margin: 0 auto 0 15px;

            @include text-inter-700-12-15;

            color: var(--main-label-color);
        }
    }

    &__amount {
        margin-top: 18px;
    }

    &__comission {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 17px 0;

        &__label,
        &__title {
            @include text-jetbrain-700-12-16;

            color: var(--main-label-color);
        }

        &__label {
            margin: 0 auto 0 0;
        }

        &__title {
            margin: 0;
        }

        .info-icon {
            margin: 0 10px 0 auto;
            cursor: pointer;

            path {
                fill: var(--main-label-color);
            }
        }
    }

    &__destination {
        margin: 18px auto 36px;
    }

    &__amount,
    &__destination {
        position: relative;
        display: flex;
        width: 100%;

        &__value {
            width: 100%;
            height: 49px;
            padding: 10px 29px;
            border: 1px solid $modalMainBorderColor;
            border-radius: 4px;

            @include text-inter-700-12-15;

            background: var(--main-modal-background-color);
            color: var(--main-label-color);

            &::placeholder {
                color: var(--main-label-color);
            }
        }

        &__available-btn,
        &__max-btn {
            position: absolute;
            border: none;

            @include text-inter-700-12-15;

            cursor: pointer;
        }

        &__available-btn {
            top: 15px;
            right: 88px;
            background: none;
            color: var(--main-label-color);
        }

        &__max-btn {
            top: 13px;
            right: 29px;
            width: 45px;
            height: 23px;
            background: $modalConfirmButtonBackgroundColor;
            border-radius: 4px;
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        margin: 36px 0;

        &__border {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 22px;
            height: 22px;
            border: 1px solid $modalMainBorderColor;
            border-radius: 3px;
            cursor: pointer;
        }

        &__inner-active {
            width: 12px;
            height: 12px;
            background: var(--main-label-color);
            border-radius: 2px;
        }

        &__inner {
            display: none;
        }

        &__label {
            margin-left: 15px;

            @include text-jetbrain-700-12-16;

            color: var(--main-label-color);
        }
    }

    &__btn {
        width: 542px;
        height: 49px;
        margin: auto 0 0;
        border-radius: 4px;
        border: none;
        background: $modalAdditionalBackgroundColor;

        @include text-inter-700-12-15;

        color: var(--main-label-color);
        cursor: pointer;
    }
}
