/* Mixins allows to define styles that can be re-used throughout stylesheet.
* It makes easy to avoid using non-semantic classes,
* and to distribute collections of styles in libraries. */

@mixin text-jetbrain-700-14-18 {
    font-family: "JetBrains Mono", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

@mixin text-jetbrain-700-12-16 {
    font-family: "JetBrains Mono", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

@mixin text-inter-800-20-24 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}

@mixin text-inter-700-12-15 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

@mixin text-inter-600-22-27 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}

@mixin text-inter-600-16-20 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

@mixin text-inter-600-12-15 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

@mixin text-inter-500-12-15 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

@mixin text-inter-400-12-15 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
