/* Navbar */
$navbarButtonBorder: #c0c0c0;

/* ThemeProvider */
$themeProviderDotBubbleBackgroundColor: #6c6c6c;
$themeProviderBottomHighBubbleLinearBackground: linear-gradient(180deg, #fff -26.43%, #ff784e 28.26%, #393c58 59.51%);
$themeProviderBottomLowBubbleLinearBackground: linear-gradient(137.03deg, #ff971d 12.47%, #ff784e 52.42%, #fff 85.51%);
$themeProviderHighBubbleLinearBackground: linear-gradient(137.03deg, #ff971d 12.47%, #ff784e 52.42%, #fff 85.51%);
$themeProviderLowBubbleLinearBakground: linear-gradient(137.03deg, #ff971d 12.47%, #ff784e 52.42%, #fff 85.51%);
$themeProviderMediumBubbleLinearBackground: linear-gradient(137.03deg, #ff971d 12.47%, #ff784e 52.42%, #fff 85.51%);
$themeProviderRightBubbleLinearBackground: linear-gradient(180deg, #fff -26.43%, #ff784e 28.26%, #393c58 59.51%);

/* Transactions History */
$transactionsHistoryInputBackgroundColor: #e6e6e6;

/* Modal */
$modalAdditionalBackgroundColor: #ff7e55;
$modalAdditionalLabelColor: #545454;
$modalConfirmButtonBackgroundColor: #232323;
$modalMainBackgroundColor: rgb(252 252 252 / 50%);
$modalMainBorderColor: #c0c0c0;
$modalMainLabelColor: #787878;
$modalMainLabelLightColor: #eee;
$modalMainTextColor: #2e2e2e;
$modalMainCheckboxBackgroundColor: #d9d9d9;

$scrollBarTrackAdditionalBackgroundColor: #c1c1c1;
$scrollBarTrackBoxShadowColor: rgb(0 0 0 / 30%);
$scrollBarTrackBackgroundColor: #111;
$scrollBarThumbBackgroundColor: #2b2b2b;
